src/main/app/CustomerProfileConsumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="127.0.0.1" port="8081" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="customer-profile.raml"/>
    </http:request-config>
    <flow name="CustomerProfilePeriodicCallFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="5" timeUnit="MINUTES"/>
            <http:request config-ref="HTTP_Request_Configuration" path="/customers" method="GET" doc:name="HTTP Request"/>
        </poll>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="C:\Temp" outputPattern="Customer_Profile_List.json" responseTimeout="10000" doc:name="Customer List Periodic Update"/>
    </flow>
</mule>
